{% extends 'base.html.twig' %}

{% block title %}Vehicule{% endblock %}

{% block body %}
    <h1>Vehicule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ vehicule.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ vehicule.titre }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ vehicule.marque }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ vehicule.modele }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ vehicule.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ vehicule.photo }}</td>
            </tr>
            <tr>
                <th>Prix journalier</th>
                <td>{{ vehicule.prixJournalier }}</td>
            </tr>
            <tr>
                <th>Date d'enregistrement</th>
                <td>{{ vehicule.dateEnregistrement ? vehicule.dateEnregistrement|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vehicule_index') }}" class="btn btn-dark mt-3">Retour à la liste des véhicules</a>

    <a href="{{ path('app_vehicule_edit', {'id': vehicule.id}) }}" class="btn btn-dark mt-3">Modifier</a>

    {{ include('vehicule/_delete_form.html.twig') }}
{% endblock %}
